pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*
  xt256.css

  Contact: initbar [at] protonmail [dot] ch
         : github.com/initbar
*/
.hljs {
  color: #00ffff;
  background: #222222
}
.hljs-subst {
  color: #00ffff
}
.hljs-emphasis {
  font-style: italic
  
}
.hljs-strong {
  font-weight: bold
}
.hljs-type {
  color: #00ffff
}


.hljs-literal {
  color: #4499FF
}
.hljs-number,
.hljs-name {
  color: #33CC99;
  font-weight: bolder
}
.hljs-comment {
  color: #BBAA99
}
.hljs-selector-id,
.hljs-quote {
  color: #00ffff
}


.hljs-template-variable,
.hljs-variable{
  color: #00ffff;
  font-weight: bold
}

.hljs-title,
.hljs-title.function,
.hljs-built_in,
.hljs-selector-class,
.hljs-attribute {
  color: #76EE00
}


.hljs-keyword,
.hljs-operator,
.hljs-symbol {
  color: #FF00AA
}
.hljs-string,
.hljs-bullet {
  color: #CBC3FF
}
.hljs-tag,
.hljs-section {
  color: #FF00AA
}
.hljs-selector-tag {
  color: #000fff;
  font-weight: bold
}


.hljs-regexp,
.hljs-params {
  color: #FD971F
}




.hljs-link {
  color: #ff00ff
}
.hljs-meta {
  color: #EEEE22;
  font-weight: bolder
}
